
.transparent{
    background: rgba(0,0,0,0);
    border: none;
}

.brand{
    color: white;
    font-family: "Cambria, Cochin, Georgia, Times, Times New Roman, serif";
    font-size: 36px;
    padding:10px;
}
.white{
    color:white;
}
.btn-rounded {
	/*background: none;*/
	/*padding: 12px 22px;*/
    border-radius: 10%;
    background-color: rgba(0,0,0,.15);
    border-color: rgba(0,0,0,0);
    /*box-shadow: 0px 0px 5px black;*/
    margin: 10px 0px;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-needajob{
    color:black
}

.section-1-background{
    background: linear-gradient(lightskyblue, cornflowerblue)
}

.section-1-left{
    padding: 100px 0px 0px 0px;
}

.section-1-header{
    color:white;
}
.section-1-text{
    color:#e6e6e6;
    padding: 0px 150px;
}
.section-1-padding{
    padding: 50px 0px 0px 0px;
}
.section-1-phone-image{
    max-height: auto;
    max-width: 440px;
    padding: 50px 0px 0px 0px;
    margin:auto;
}
.section-1-phone-holder{
    max-height: 200px;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
}

.section-2-background{
    background-color: #fafafa;
}
.section-2-padding{
    padding: 100px 20%;
}
.section-2-header{
    color: grey;
    font-size: 3em;
}
.section-2-text{
    color:darkgrey;
    max-width: 40%;
    margin: auto;
    margin-bottom: 50px;
}
.section-2-buttons{
    padding: 50px;
    border-radius: 2%;
}
.section-2-buttons:hover{
    animation-name: button-fadein;
    animation-duration: .75s;
    animation-fill-mode: forwards;
}


@keyframes button-fadein{
    from {
        box-shadow: 0px 0px 0px rgb(255,255,255);
    }
    to {
        box-shadow: 0px 0px 25px rgb(0,0,0);
        background-color: white;
    }
}
.section-2-icon{
    font-size: 40px;
}
.section-2-item-header{
    
}
.section-3-nopadding{
    padding: 0px;
    height: 507px;
}
.section-2-item-text{
    color:gray;
}

.section-3-right{
    background-color:cornflowerblue;
}
.section-3-header{
    color: white;
    font-size: 4em;
    padding-left: 55px;
    padding-top: 120px;
}
.section-3-text{
    color: white;
    font-size: 1em;
    padding-left: 55px;
    padding-top: 60px;
    line-height: 30px;
    width: 75%;
}
.section-4{
    background-color: dimgray;
}

.section-4-address{
    color: white;
    font-family: "Cambria, Cochin, Georgia, Times, Times New Roman, serif";
    padding: 0px;
}
.section-4-address-padding{
    padding: 10px;
}
.section-4-icon{
    font-size: 60px;
    color: white;
    padding: 50px 10px;
}
.section-4-icon:hover{
    animation-name: icon-highlight;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}
@keyframes icon-highlight{
    from {
        color: white;
        font-size: 60px;
    }
    to {
        color: lightseagreen;
        font-size: 75px;
    }
}
.row-extra-padding{
    padding: 0px 20% ;
}

@media(max-width : 1000px){
    .btn-xs-larger{
        font-size: 72px;
        background-color: rgba(128,128,128,.25);
        box-shadow: 0px 0px 15px black;
        margin:50px;
    }
    .section-2-text{
        color:darkgrey;
        max-width: 80%;
        margin: auto;
        margin-bottom: 50px;
    }   
    .section-2-item-text{
    color:gray;
    width: 80%;
    margin: auto;
    }
    .section-2-padding{
        padding: 0px;
    }
    .section-3-header{
        text-align: center;
        font-size: 6em;
        padding-top: 80px;
    }
    .section-3-text{
        text-align: center;
        font-size: 2em;
        margin: auto;
    }
    .section-4-address{
        text-align: center;
        font-size: 2em;
    }
    .section-4-header{
        text-align: center;
        font-size: 4em;
    }
}