
.btn-rounded {
	/*background: none;*/
	/*padding: 12px 22px;*/
    border-radius: 10%;
    background-color: rgba(0,0,0,0);
    margin: 10px 0px;
}

.header-needajob{
    color:black
}

.section-1-background{
    background: linear-gradient(lightskyblue, cornflowerblue)
}

.section-1-header{
    color:white;
}
.section-1-text{
    color:#e6e6e6;
    padding: 0px 150px;
}
.section-1-padding{
    padding: 150px 0px;
}
.section-1-phone-image{
    max-height: 400px;
    max-width: 400px;
}
.section-1-phone-holder{
    max-height: 200px;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
}